<mat-card class="container">
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Существующие экспонаты">
      <mat-card class="empty" *ngIf="exhibits.length == 0">
        <mat-card-content>
          <p>Пользователи еще не зарегистрированы</p>
        </mat-card-content>
      </mat-card>
      <app-profile-preview
        *ngFor="let exh of exhibits"
        id="{{exh.id}}"
        name="{{exh.name}}"
        type="{{exh.type}}">
      </app-profile-preview>
    </mat-tab>

    <mat-tab label="Архивированные экспонаты">
      <mat-card class="empty" *ngIf="archived.length == 0">
        <mat-card-content>
          <p>Пользователи еще не зарегистрированы</p>
        </mat-card-content>
      </mat-card>
      <app-profile-preview
        *ngFor="let exhArchive of archived"
        id="{{exhArchive.id}}"
        name="{{exhArchive.name}}"
        type="{{exhArchive.type}}">
      </app-profile-preview>
    </mat-tab>
  </mat-tab-group>
</mat-card>
