.mat-card-header {
  justify-content: center;
}

.mat-spinner {
  margin: 0 auto;
}

.sign-in {
  width: 600px;
  margin: 0 auto;
}

.sign-up {
  margin-left: 5px;
  text-decoration: none;
  color: #3f51b5;
}
