<form class="sign-in" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
      <mat-card-subtitle>
        <mat-spinner *ngIf="loaded" [diameter]="24"></mat-spinner>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-error-message message="{{errorMessage}}"></app-error-message>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Введите email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Введите пароль</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="full-width" color="primary"
              type="submit" [disabled]="form.invalid || loaded">
        Вход
      </button>

    </mat-card-actions>
  </mat-card>
</form>
