<mat-card class="profile-preview">
  <mat-card-header>
    <div mat-card-avatar class="profile-image">
      <a routerLink="{{'/user/' + id}}"></a>
    </div>
    <mat-card-title>
      <a routerLink="{{'/user/' + id}}">
        {{name}}
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      {{type == 20 ? 'Музей' : 'Коллекционер'}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-button (click)="onArchive()">Архивировать</button>
    <button mat-button (click)="onDelete()">Удалить</button>
  </mat-card-content>
</mat-card>
