<mat-card class="container">
  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Существующие пользователи">
      <mat-card class="empty" *ngIf="accounts.length == 0">
        <mat-card-content>
          <p>Пользователи еще не зарегистрированы</p>
        </mat-card-content>
      </mat-card>
      <app-profile-preview
        *ngFor="let acc of accounts"
        id="{{acc.id}}"
        name="{{acc.name}}"
        type="{{acc.type}}">
      </app-profile-preview>
    </mat-tab>

    <mat-tab label="Архивированные пользователи">
      <mat-card class="empty" *ngIf="accounts.length == 0">
        <mat-card-content>
          <p>Пользователи еще не зарегистрированы</p>
        </mat-card-content>
      </mat-card>
      <app-profile-preview
        *ngFor="let accArchive of archived"
        id="{{accArchive.id}}"
        name="{{accArchive.name}}"
        type="{{accArchive.type}}">
      </app-profile-preview>
    </mat-tab>
  </mat-tab-group>
</mat-card>
