#toolbar a {
  text-decoration: none;
  color: white;
}

#toolbar a:hover {
  text-decoration: none;
  color: white;
}

#toolbar .space {
  flex: 1 1 auto;
}

#page-layout {
  margin: 0 auto;
  padding: 15px 15px 0 15px;
}

#sidebar {
  float: left;
  width: 149px;
}

#sidebar .mat-nav-list {
  padding: 0;
}

#page-body {
  float: left;
  width: 795px;
}
