<mat-toolbar id="toolbar" color="primary">
  <span>Collector Admin</span>
</mat-toolbar>

<div id="page-layout">
  <div id="sidebar" *ngIf="token">
    <mat-nav-list>
      <a mat-list-item routerLink="/profiles">Пользователи</a>
      <a mat-list-item routerLink="/exposure">Экспозиции</a>
      <a mat-list-item routerLink="/exhibit">Экспонаты</a>
    </mat-nav-list>
  </div>
  <div id="page-body">
    <router-outlet></router-outlet>
  </div>
  <div class="clearfix"></div>
</div>
