/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  margin: 0;
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
